<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <!-- Navbar Brand-->
  <a class="navbar-brand ps-3" [routerLink]="['']"><img class="logo" src="" alt="Woola"></a>


  <ul class="navbar-nav ms-auto ms-md-7 me-7 me-lg-7">
      <li class="nav-item dropdown">
          <a class="nav-link" [routerLink]="['/myUser']">Mi perfil</a>
      </li>
  </ul>

</nav>

<div class="container-fluid h-100 bg-dark">
  <div class="row h-100">

      <div class="col-md-4 p-3" id="route-info-container">
        <ng-container *ngIf="selected">
        <div class="card">
          <div class="card-header">
            Información de la ruta
          </div>
          <div class="card-body" id="route-info-details">
            <div class="row">
              <div class="w-50 h-25 col-md-12">
                <img src="{{imageURL(routeInfo.id)}}" class="img-fluid" alt="Imagen de la ruta">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <ul class="list-group">
                  <li class="list-group-item">Nombre: {{routeInfo.name}}</li>
                  <li class="list-group-item">Descripción: {{routeInfo.description}}</li>
                </ul>
              </div>
            </div>

            <button id="addFavorites" href="" (click)="addFavorites(routeInfo)">Guardar en Favoritos</button>

            <hr>

            <app-comments [routeC]="routeInfo"></app-comments>

          </div>
        </div>
      </ng-container>
      </div>

    <div class="col-md-8 p-0" id="map-container">
      <google-map height="100%" width="100%" [center]="center" [zoom]="zoom">
        <map-marker *ngFor="let route of routeList" [position]="{lat:route.lat, lng:route.lng}" [icon]="'/assets/icons/start.png'" (mapClick)="show($event)">
        </map-marker>

        <map-marker *ngFor="let location of locations;let i =index" #marker="mapMarker" [position]="{lat:location.lat,lng:location.lng}" [icon]="'/assets/icons/pin.png'" (mapClick)="openInfoWindow(marker, i)">

          <map-info-window>
            <div>
              <h3>{{location.name}}"</h3>
              <p>{{location.description}}</p>
              <a href="https://www.google.com/maps/search/?api=1&query={{location.lat}},{{location.lng}}" target="_blank">
                Más información en Google Maps
              </a>
            </div>
          </map-info-window>
        </map-marker>

      </google-map>
    </div>

  </div>
</div>



