<h1 class="mt-4">Favoritos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Favoritos</li>
</ol>

<div class="row row-cols-1 row-cols-md-4 g-4">

    <div *ngFor="let route of routes" class="col">
        <div class="card h-100">
            <img src="{{imageURL(route.id)}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{route.name}}</h5>
                <p class="card-text">{{route.description}}</p>
                <a (click) = "removeFav(route.id)" class="btn btn-sm btn-outline-danger">Eliminar</a>
            </div>
        </div>
    </div>

</div>
