<div class="row">
  <div class="col-md-12">
    <h5>Comentarios</h5>
    <div class="comments-container">

      <div class="card mb-3" *ngFor="let comment of commentList">
        <div class="card-body">
          <p class="card-text">{{ comment.comment_user }}: {{ comment.description }}</p>
        </div>
      </div>

    </div>

    <hr>

    <form #commentForm="ngForm">
      <div class="form-group">
        <textarea class="form-control" rows="3" placeholder="Escribe un comentario" name="description" [(ngModel)]="description"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" (click)="save()">Enviar comentario</button>
    </form>
  </div>
</div>
